<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'hardware/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'hardware/css/style.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>{% block title %} {% endblock title %}</title>
    {% block css %} {% endblock css %}
</head>

<body>
    <header>
        <nav class="container">
            <div class="aligner-item logo">
                <img src="{% static 'hardware/images/logo.png' %}"  id="logo" alt="logo image">
            </div>
            <div class="aligner-item search_box">
                <form action="/hardware/search/" method="get">
                    <input type="text" class="search_input" placeholder="   Search the products here" name="search" ,
                        id="search">
                    <input type="submit" class="search-btn" value="Search">
                </form>
            </div>
            <!-- <div class="aligner-item cart">
                <a href="productcart/" id="cart-data"><i class="fas fa-shopping-cart"
                        style="color: white; font-size: 30px;"><span id="cart">0</span></i></a>
            </div> -->

            <div class="aligner-item cart">
                <a type="button" id="popcart" class="btn mb-1 bg-transparent cart-icon " data-container="body"
                    data-toggle="popover" data-placement="bottom" data-html="true"
                    data-content="There is nothing in your Cart"><i class="fas fa-shopping-cart"
                        style="color: white; font-size: 30px;"><sup><span id="cart">0</span></sup></i></a>
            </div>
            {% if user.is_authenticated %}
            <div class="aligner-item cart">
                <ul class="navbar-nav user-icon mr-2 ml-3 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white font-weight-bold" href='#' id="navbarDropdown" role="button"
                            data-toggle="dropdown"> Welcome {{request.user}}</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/hardware/">Home</a>
                            <a class="dropdown-item" href="/hardware/tracker/">Tracker</a>
                            <a class="dropdown-item" href="/hardware/logout/">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="aligner-item login-btn">
                <a href="/hardware/login/"><input type="submit" value="Login"></a>
            </div>
            <div class="aligner-item login-btn">
                <a href="/hardware/signup/"><input type="submit" value="SignUp"></a>
            </div>
            {% endif %}

        </nav>
    </header>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% block content %}
    {% endblock content %}


    <footer class="text-center mt-5">
		<span>Created By<a href="#">JayswalAman</a> | <span class="fas fa-copyright">2021 All rights reserved</span></span>
	</footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- <script src="{% static 'hardware/js/jquery.js' %}"></script>
    <script src="{% static 'hardware/js/popper.js' %}"></script>
    <script src="{% static 'hardware/js/bootstrap.min.js' %}"></script> -->

    <!-- <script src="{% static 'hardware/js/script.js' %}"></script> -->

    {% block js %}
    {% endblock js %}
</body>

</html>