{% extends 'hardware/base.html' %}

{% block title %} Login {% endblock title %}

{% block css %}
<style type="text/css">
    
    .form .btn {
        background-color: blueviolet;
        font-weight: bold;
        color: white;
    }

    .form-heading{
        color: blueviolet;
    }
</style>
{% endblock css %}

{% block content %}
{% load static %}
<div class="container mt-3">
    <div class="row">
        <!-- <div class="col-sm-4"></div> -->
        <div class="col-12 pl-0 pr-0">
            <div class="tab-content mt-3 pl-3 pr-3">
                <h1 class="form-heading text-center"> Login </h1>
                <form method="post" action="/hardware/login/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="Enter Username" name="loginusername">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" class="form-control" id="pass2" placeholder="Password"
                            name="loginpassword">
                    </div>
                    <a href="/hardware/" class="btn cart-btn text-white">Back</a>
                    <button type="submit" class="btn cart-btn float-right">Submit</button><br>
                    <a class="mt-4" href="/hardware/signup/">Create New Account</a>
                </form>
            </div>
        </div>
        <!-- <div class="col-sm-4"></div> -->
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
    }

    function updateCart(cart) {
        var sum = 0;
        for (item in cart) {
            let qty = cart[item][0];
            sum = sum + qty;
        }
        document.getElementById('cart').innerHTML = sum;
    }
    
</script>
{% endblock js %}