*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    line-height: 1.4;
    background-color: rgb(245, 245, 245);
}

header{
    width: 100%;
    height: 56px;
    background-color: blueviolet;  
}


nav{
    display: flex;
    margin: 0 auto;
    /* max-width: 1248px; */
    width: 100%;
    height: 100%;
    padding: 10px 0;
    justify-content: space-around;
}

.mobile_search_box{
    display:none;
}

.search_input{
    width: 450px;
    height: 35px;
}

.search-btn{
    color: blueviolet;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    height: 35px;
}

.login-btn input{
    color: blueviolet;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    width: 80px;
    height: 35px;
}

/* .login-btn input:hover{
    
} */

.category-row{
    display: flex;
    background-color: white;
    height: 120px;
    justify-content: space-around;
}

.category-row .category img{
    height: 97px;
}

.category-row .category h6{
    font-size: 14px;
    text-align: center;
}

.store-section{
    height: 50vh;
    width: 100%;
    background-color: blueviolet;
}

.center-element{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.center-element .store-name{
    font-size: 60px;
    text-shadow: 2px 2px black;
}

.center-element .store-add{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.product-card{
    height: 450px;
}

.product-card img{
    height: 250px;
}

.cart-btn{
    color: white;
    background-color: blueviolet;
    /* padding: 10px; */
}

.cart-icon{
    outline: none;
    box-shadow: none;
    width: 80px;
    height: 35px;
}

.mobile-btns{
    display: none;
}

.alert{
    margin-bottom: 0px;
}

#logo{
    height: 40px;
    width: auto;
}

#bg{
    background-size: 100%;
}

footer{
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blueviolet;
    color: white;
}

footer a{
    color: black;
    text-shadow: 1px 1px black;
}
/* style="background-image: url({% static 'hardware/images/front-end.jpg' %})" */

@media only screen and (max-width: 994px) {
    .search_input{
        width: 380px;
    }

    .category-row{
        height: 100px;
    }

    .category-row .category img{
        height: 80px;
    }
    
    .category-row .category h6{
        font-size: 12px;
        text-align: center;
    }
}


@media (max-width: 768px){
    .container {
        max-width: 800px;
    }
}


@media only screen and (max-width: 550px) {
    .search_input{
        width: 320px;
    }

    .search_box{
        display: none;
    }

    /* .mobile-search-div{
        width:100%;
        height: 56px;
        background-color: blueviolet;
    } */

    .mobile_search_box{
        display: block;
        width:100%;
        height: 56px;
        background-color: blueviolet;
    }

    .mobile_search_box form{
        margin: auto;
        padding: 10px;
        padding-left: 35px;
    }

    .category-row{
        padding-top: 2px;
        height: 60px;
        justify-content: space-between;
    }

    .category-row .category img{
        height: 50px;
    }
    
    .category-row .category h6{
        display: none;
    }

    .center-element .store-name{
        font-size: 40px;
    }
    
    .center-element .store-add{
        font-size: 14px;
    }

    .pro-img{
        padding: 15px;
        width: 100%;
    }

    .desktop-btns{
        display: none;
    }

    .mobile-btns{
        display: block;
    }
    
}

